.rankcaixa {
    padding: 30px;
    border: 20px;
    background-color: rgb(165, 165, 165);
}

.ranks {
    padding: 20px;
    right: 540px;
    position: absolute;
    top: 40px;
    background-color: bisque;
}